<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>BMA</title>
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
  <script>
    socket=io();
    alarm=false;
    socket.on("alarm", function(melderNr) {
        document.getElementById(melderNr).style.backgroundColor = "red";
        document.getElementById(melderNr).innerHTML=melderNr+" Alarm um: "+datum();
        alarm=true;
    })

    socket.on("noAlarm", function(melderNr) {
      if(alarm) {
        document.getElementById(melderNr).style.backgroundColor = "orange";
        alarm=false;
      }
      document.getElementById(melderNr).innerHTML=melderNr+" Kein Alarm seit: "+datum();
    })  

    socket.on("melder_join", function(melderNr) {
      document.getElementById(melderNr).style.backgroundColor = "green";
      document.getElementById(melderNr).innerHTML=melderNr+" Online seit: "+datum();
    })

    socket.on("melder_leave", function(melderNr) {
      document.getElementById(melderNr).style.backgroundColor = "orange";
      document.getElementById(melderNr).innerHTML=melderNr+" Offline seit: "+datum();
    })

    function quittieren(melderNr) {
        socket.emit("quittieren", melderNr);
        document.getElementById(melderNr).style.backgroundColor = "green";
        alarm=false;
    }

    function test_quittieren() {
      var melder = document.getElementsByClassName("melder");
      Array.from(melder).forEach(element => {
        socket.emit("quittieren", element.id);
        element.style.backgroundColor = "green";
      });
    }

    function alarm_aus() {
        socket.emit("alarm_aus");
    }
    
    function datum() {
      var timestamp = new Date().toLocaleString("de-DE", {
      year: "numeric",
      month: "long",         // z.B. April
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit"
      });
      return timestamp;
    }

  </script>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }

    button {
      padding: 15px 30px;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
    }

    .melder {
      background-color: orange;
    }
  </style>
</head>
<body>
  <h1>Willkommen!</h1>
  <button class="melder" id="1/1" onclick="quittieren(this.id)">Melder 1/1 Offline</button>
  <button class="melder" id="1/2" onclick="quittieren(this.id)">Melder 1/2 Offline</button>
  <button class="BMA_Steuerung" id="test_quittieren" onclick="test_quittieren()">Test Quittieren</button>
  <button class="BMA_Steuerung" id="alarm_aus" onclick="alarm_aus()">Alarm aus</button>
</body>
</html>
