<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>BMA</title>
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
  <script>
    socket=io();
    alarm=false;
    socket.on("alarm", function(melderNr) {
        document.getElementById(melderNr).style.backgroundColor = "red";
        var timestamp= new Date();
        document.getElementById(melderNr).innerHTML=melderNr+" Alarm um: "+timestamp;
        alarm=true;
    })

    socket.on("noAlarm", function(melderNr) {
      if(alarm) {
        document.getElementById(melderNr).style.backgroundColor = "orange";
        alarm=false;
      }
      var timestamp= new Date();
      document.getElementById(melderNr).innerHTML=melderNr+" Kein Alarm seit: "+timestamp;
    })  

    socket.on("melder_join", function(melderNr) {
      document.getElementById(melderNr).style.backgroundColor = "green";
      var timestamp= new Date();
      document.getElementById(melderNr).innerHTML=melderNr+" Online seit: "+timestamp;
    })

    socket.on("melder_leave", function(melderNr) {
      document.getElementById(melderNr).style.backgroundColor = "orange";
      var timestamp= new Date();
      document.getElementById(melderNr).innerHTML=melderNr+" Offline seit: "+timestamp;
    })

    function quittieren(melderNr) {
        socket.emit("quittieren", melderNr);
        document.getElementById(melderNr).style.backgroundColor = "green";
        alarm=false;
    }
  </script>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }
    .melder {
      padding: 15px 30px;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      background-color: orange;
    }
  </style>
</head>
<body>
  <h1>Willkommen!</h1>
  <button class="melder" id="1/1" onclick="quittieren(this.id)">Melder 1/1</button>
  <button class="melder" id="1/2" onclick="quittieren(this.id)">Melder 1/2</button>
</body>
</html>
